@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&family=Titan+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&family=Sriracha&family=Titan+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}
header h1{
    font-family: var(--fonte02);
    font-size: 10vw;
    font-variant: small-caps;
    /*text-transform: uppercase;*/
}
header p{
    font-family: var(--fonte01);
    padding-top: 5px;
    color: white;
}
header a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
main{
    font-family: var(--fonte03);
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
    font-size: 3.5vw;
}
section.imagem{
    color: white;
    box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.342);
    background-size: cover;
    background-attachment: fixed;
    
}
section.imagem p{
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.515);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    padding: 15px;

}
section.normal p{
    padding-bottom: 2em;
}
section#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}
section#img02{
    background-image: url('imagens/background002.jpg');
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: var(--fonte01);
}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}